:{$PORT}

root * /srv/dist
encode gzip

handle /api/* {
	uri strip_prefix /api
	reverse_proxy {$BACKEND_URL:backend.railway.internal:8080}
}

handle {
	try_files {path} /index.html
	file_server
}

handle /health {
	respond "OK" 200
}
